#header4 {
    position: absolute;
    color: rgba(40, 16, 196, 0.966);
    font-size: 30px;
    /* border: 3px solid #ad2134; */
}

#video4 {
    position: absolute;
    left: 10px;
    width: 320px;
    height: 200px;
    /* border: 3px solid #ad2134; */
}